---
layout: main
title: Misrab's Blog
---

<div class="container">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10 relative" style="padding: 10px 50px;">
			<div class="lucid"></div>

			<!-- posts here -->
			<h1>Posts</h1>
			<ul>
				{% for post in site.posts %}
					<li>
						<a href="{{ post.url }}">{{ post.title }}</a>
						<span class="grey"> - {{ post.date | date: "%-d %B %Y" }}</span>
						<p class="grey italic">{{ post.excerpt }}</p>
					</li>
				{% endfor %}
			</ul>

			<h1>Bioinformatics I</h1>
			<div class="grey italic">
				Notes from Imperial's postgraduate bioinformatics course. Mainly for 
				myself, but open to anyone.
			</div>
			<ul>
				{% for note in site.bioinformatics1 %}
					<li>
						<a href="{{ note.url }}">{{ note.title }}</a>
						<span class="grey"> - {{ note.date | date: "%-d %B %Y" }}</span>
					</li>
				{% endfor %}
			</ul>

			<h1>Bioinformatics II</h1>
			<ul>
				{% for note in site.bioinformatics2 %}
					<li>
						<a href="{{ note.url }}">{{ note.title }}</a>
						<span class="grey"> - {{ note.date | date: "%-d %B %Y" }}</span>
					</li>
				{% endfor %}
			</ul>

			<a class="big_space_top" href="https://medium.com/@misrabfaizullahkhan">
				<h3 style="color: black;">More posts here...</h3>
			</a>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>